<h1> <%= @post.title%> by <%= @author.username %>  </h1>

<h4>Content:</h4>
<p> <%= @post.content %>   </p>


<h4>Subs</h4>

<ul>
  <% @subs.each do |sub| %>
    <li> <a href="<%= sub_url(sub) %>"><%= sub.title%></a></li>

  <% end %>
</ul>

<h2>Comments</h2>

<a href="<%= new_post_comment_url(@post) %> ">Comment on this Post!</a>

<ul>
  <% @all_comments.where(parent_comment_id: nil).each do |comment| %>
      <li>    
          <%= render 'shared/comment', comment: comment, all_comments: @all_comments %>
      </li>
  <% end %>
</ul>

<br>

<a href=" <%= edit_post_url(@post) %> ">Edit</a>
